.IngredientListUl {
    border-left: 1px grey solid;
    margin:auto;
    display:block;
    width:fit-content;
    margin:20px auto;
}

.IngredientListTitle {
    text-align: center;
}

.IngredientList {
    text-transform: capitalize;
}

.IngredientListPanel {
    padding-right:30px;
}

.IngredientListTotal {
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}
