.IngredientListUl {
    border-left: 1px grey solid;
    margin:auto;
    display:block;
    width:fit-content;
    margin:20px auto;
    list-style: none;
    padding-left: 10px;
}

.IngredientListTitle {
    text-align: center;
}

.IngredientList {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size:1.2em;
}

.IngredientListPanel {
    padding-right:30px;
}

.IngredientListTotal {
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}
