.OfferBackground {
    background-image: url('https://static.pexels.com/photos/616404/pexels-photo-616404.jpeg');
    background-size: cover;
    padding-top:150px;
    padding-bottom:150px;
}

.OfferContent {
    max-width: 800px;
    display:block;
    margin:auto;
}

.OfferMain {
    font-weight:bold;
}

@media (max-width: 700px) {
    .OfferMain {
        font-size:2em;
    }

    .OfferSubTitle {
        font-size: 1.2em;
    }
}
