.OurBenefitsTitle {
    margin-bottom: 20px;
}

.OurBenefits {
    max-width: 900px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.OurBenefitsList {
    border-left: solid 1px grey;
    max-width: 900px;
    margin: auto;
    list-style: none;
    padding-left:10px;
}

.OurBenefitsItem {
    margin-bottom: 20px;
}
