.BurgerConstructorPanel {
    max-width: 700px;
    background-color: #eee;
    margin: auto;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 5px grey;
    padding: 20px;
    position: relative;
}

/*@media (min-width: 500px) and (min-height: 400px) {

}

@media (min-width: 500px) and (min-height: 401px) {

}

@media (min-width: 1000px) and (min-height: 700px) {

}*/
